---
title: Cleanwell - Impressum
directory: impressum
showMenu: false

description: CleanWell, Innovative Reinigung für ein glänzendes Image.
keywords: Cleanwell, Reinigung, Gebäudereinigung, Putzen, Fensterreinigung, Sonderreinigung, Baureinigung, BauendreinigungBüroreinigung, Grundreinigung, Küchenreinigung, Sanitärreinigung, Industriereinigung, Gewerbereinigung, Hausbetreuung, Facility, Objektreinigung, Objekt, Wohnhausreinigung, Stiegenhausreinigung, Objetbetreuung, Wartungsarbeiten, Kaugummientfernung, Schmutzentfernung, Umzug, Steinbodenreinigung, Bodenreinigung, Fassadenreinigung, Geschäftreinigung, Grünanlagen, Außenbereich, Rasenmähen, Rasenschnitt, Wohnungsräumung, Hausräumung, Unkrautentfernung, Heckenschneiden, Heckenschnitt, Putzfirma, Reinigungsfirma, Reinigung Wien, Putzfirma Wien, Wien, Reinigungsunternehmen, Reinigungsunternehmen Wien, Reinigung Neustadt, Wr. Neustadt, Baden, Vösendorf, PVC Reinigung, Bodenbeschichtung, Zwischenreinigung, Wohnungsreinigung, Parkplatzreinigung, Müllentsorgung, Entsorgung, Waschen, Ozon waschen, Desinfektion, reinigen, putzen, desinfizieren, Fensterputzen, abwaschen, polieren, abstauben, abwischen, Hygiene, Schädlingsbekämpfung, glänzend, sauber, rein, klar, saugen, Staubsaugen, Schuttentfernung, Baumüll, Müll, Schmutz,
---

<section class="p-v-xl p-t-mobile-m">
    <div class="container">
        <div class="row">
            <div class="col-md-12 m-b-l-mobile">
                <h2>CleanWell GmbH</h2>
                <div>

                    <address>
                        Milchgrubweg 2<br>
                        A - 7062 St. Margarethen im Burgenland
                    </address>

                    <div>
                        <b>Kontakt: </b><a href="mailto:office@cleanwell.at">office@cleanwell.at</a>
                    </div>

                    <br>

                    <div>
                        <b>UID-Nummer: </b> ATU77383528<br/>
                        <b>Firmenbuchnummer: </b> FN 565812 b<br/>
                        <b>Firmenbuchgericht: </b> Landesgericht Eisenstadt<br/>
                        <b>Zuständige Aufsichtsbehörde: </b> BH Eisenstadt Umgebung<br/>
                    </div>

                    <br>

                    <div>
                        <b>Kammerzugehörigkeit: </b> Wirtschaftskammer Burgenland
                        (https://www.wko.at/branchen/b/gewerbe-handwerk/chemische-gewerbe/denkmal-fassade-gebaeude/start.html)
                    </div>

                    <br><br><br><br>
                </div>
            </div>
        </div>
    </div>
</section>
