---
title: CleanWell, Innovative Reinigung für ein glänzendes Image
directory:
showMenu: true
description: CleanWell, Innovative Reinigung für ein glänzendes Image.
keywords: Cleanwell, Reinigung, Gebäudereinigung, Putzen, Fensterreinigung, Sonderreinigung, Baureinigung, BauendreinigungBüroreinigung, Grundreinigung, Küchenreinigung, Sanitärreinigung, Industriereinigung, Gewerbereinigung, Hausbetreuung, Facility, Objektreinigung, Objekt, Wohnhausreinigung, Stiegenhausreinigung, Objetbetreuung, Wartungsarbeiten, Kaugummientfernung, Schmutzentfernung, Umzug, Steinbodenreinigung, Bodenreinigung, Fassadenreinigung, Geschäftreinigung, Grünanlagen, Außenbereich, Rasenmähen, Rasenschnitt, Wohnungsräumung, Hausräumung, Unkrautentfernung, Heckenschneiden, Heckenschnitt, Putzfirma, Reinigungsfirma, Reinigung Wien, Putzfirma Wien, Wien, Reinigungsunternehmen, Reinigungsunternehmen Wien, Reinigung Neustadt, Wr. Neustadt, Baden, Vösendorf, PVC Reinigung, Bodenbeschichtung, Zwischenreinigung, Wohnungsreinigung, Parkplatzreinigung, Müllentsorgung, Entsorgung, Waschen, Ozon waschen, Desinfektion, reinigen, putzen, desinfizieren, Fensterputzen, abwaschen, polieren, abstauben, abwischen, Hygiene, Schädlingsbekämpfung, glänzend, sauber, rein, klar, saugen, Staubsaugen, Schuttentfernung, Baumüll, Müll, Schmutz,
---

<header class="fs-table" id="home">
    <img src="/assets/img/Heli.jpg" width="1900" height="768"/>
</header>

<section class="p-v-m p-t-mobile-s">

    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h2>Weil der erste Eindruck zählt!</h2>
                <div class="justify">
                    <p>Ein gepflegtes, fachgerecht gereinigtes Objekt ist die Visitenkarte für die Besucher Ihrer
                        Immobilie. Wir sorgen nicht nur für optisch tadelloses Aussehen, sondern stellen auch hohe
                        Ansprüche an die Herstellung hygienischer Bedingungen.</p>

                    <p>Die sorgsame und zuverlässige Pflege Ihrer Immobilie trägt zusätzlich zur Verminderung des
                        Verschleißes bei und dient somit einer kontinuierlichen Werterhaltung.</p>

                    <p>Durch jahrelange Erfahrung und Weiterbildung im Bereich der Gebäudereinigung und Oberflächen-
                        bzw. Materialkunde, sind wir mit sämtlichen Gebäudeindividualitäten und Gegebenheiten bestens
                        vertraut.</p>

                    <p>Flexibilität, Kundenorientierung, Genauigkeit und Zuverlässigkeit zählen zu unseren großen
                        Stärken. Wir würden uns sehr über eine partnerschaftliche Zusammenarbeit mit Ihnen freuen.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="bg-grey" id="leistungen" data-offset="60">

    <div class="position-relative">
        <div class="container text-center p-v-m">
            <div class="row">
                <div class="col-12-md">
                    <div class="box-title"></div>
                    <h2>Unsere Leistungen</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container p-v-xl p-t-m">
        <div class="shadow-box">
            <div class="row">
                <div class="col-md-12">
                    <div class="fs-desktop-table full-width services-box m-b-m-mobile">
                        <div class="fs-desktop-table-cell width-50 align-middle img-bg kaugummi"></div>
                        <div class="fs-desktop-table-cell width-50 align-middle text-center padding-m">
                            <h3>Intensivreinigung & Extremschmutz-Entfernung</h3>
                            <h4><i>Großflächige Entfernung tiefsitzender Verunreinigungen!</i></h4>
                            <ul>
                                <li>Rückstandslose Kaugummi-Entfernung auf sämtlichen Bodenbelägen</li>
                                <li>Entfernung von Öl- und Fettverschmutzungen</li>
                                <li>Porentiefe Steinbodenreinigung</li>
                                <li>Besonders bewährt in Eingangsbereichen von Einkaufszentren, Verkehrsflächen und
                                    Gehwegen, sowie Tiefgaragen
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="fs-desktop-table full-width services-box m-b-m-mobile">
                        <div class="fs-desktop-table-cell width-50 align-middle img-bg gebaeude show-tablet"></div>
                        <div class="fs-desktop-table-cell width-50 align-middle text-center padding-m">
                            <h3>Gebäudereinigung</h3>
                            <h4><i>Professionelle Reinigungs-Leistungen für Ihr Objekt!</i></h4>
                            <ul>
                                <li>Fensterreinigung</li>
                                <li>Baureinigung</li>
                                <li>Büroreinigung</li>
                                <li>Grundreinigung</li>
                                <li>Großküchenreinigung</li>
                                <li>Sanitärreinigung</li>
                                <li>Industrie- und Gewerbebetriebe</li>
                            </ul>
                        </div>
                        <div class="fs-desktop-table-cell width-50 align-middle img-bg gebaeude hide-tablet"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="fs-desktop-table full-width services-box m-b-m-mobile">
                        <div class="fs-desktop-table-cell width-50 align-middle img-bg photovoltaic"></div>
                        <div class="fs-desktop-table-cell width-50 align-middle text-center padding-m">
                            <h3>Photovoltaikanlagen-Reinigung</h3>
                            <h4><i>Holen Sie mehr aus Ihrer Anlage!</i></h4>
                            <ul>
                                <li>Oberflächenschonende Reinigung</li>
                                <li>Entfernung von Verschmutzungen durch landwirtschaftliche Arbeiten, Straßenverkehr, Luftverschmutzung, Vogelkot, Kalk, Flechten und Moos</li>
                                <li>Erhöhung der Gesamterträge um 6 - 9 %</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="fs-desktop-table full-width services-box m-b-m-mobile">
                        <div class="fs-desktop-table-cell width-50 align-middle img-bg haus show-tablet"></div>
                        <div class="fs-desktop-table-cell width-50 align-middle text-center padding-m">
                            <h3>Hausbetreuung</h3>
                            <h4><i>Ihr Objekt in besten Händen!</i></h4>
                            <ul>
                                <li>Facility Management</li>
                                <li>Wohnhaus- und Wohnanlagen- Service</li>
                                <li>Stiegenhausreinigung</li>
                                <li>Objektbetreuung</li>
                                <li>Wartungs- und Kontrollarbeiten</li>
                            </ul>
                        </div>
                        <div class="fs-desktop-table-cell width-50 align-middle img-bg haus hide-tablet"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="fs-desktop-table full-width services-box m-b-m-mobile">
                        <div class="fs-desktop-table-cell width-50 align-middle img-bg desinfektion"></div>
                        <div class="fs-desktop-table-cell width-50 align-middle text-center padding-m">
                            <h3>Desinfektion</h3>
                            <h4><i>Wiederherstellung hygienischer Bedingungen!</i></h4>
                            <ul>
                                <li>Desinfektion sämtlicher Kontaminationen</li>
                                <li>Entkeimung durch Ozonbehandlung</li>
                                <li>Ozon Geruchsneutralisation</li>
                                <li>Steril-Wäsche von Textilien und Baumwollprodukten</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="fs-desktop-table full-width services-box m-b-m-mobile">
                        <div class="fs-desktop-table-cell width-50 align-middle img-bg winter show-tablet"></div>
                        <div class="fs-desktop-table-cell width-50 align-middle text-center padding-m">
                            <h3>Winterdienst</h3>
                            <h4><i>Auch in den Wintermonaten unterstützen wir Sie mit unseren Top-Serviceleistungen!</i>
                            </h4>
                            <ul>
                                <li>Schneeräumung auf Gehwegen und Verkehrsflächen</li>
                                <li>Entfernung von Eis und festgetretenen Schnee</li>
                                <li>Aufbringung von Streugut</li>
                            </ul>
                        </div>
                        <div class="fs-desktop-table-cell width-50 align-middle img-bg winter hide-tablet"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="bg-grey" id="referenzen" data-offset="60">

    <div class="position-relative">
        <div class="container text-center p-v-m">
            <div class="row">
                <div class="col-12-md">
                    <div class="box-title"></div>
                    <h2>Referenzen</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container p-v-xl p-t-m">
        <div class="row">
            <div class="col-sm-4 col-xs-6">
                <a data-imagelightbox="a" href="/assets/img/reference/ref10_l.jpg">
                    <img src="/assets/img/reference/ref10.jpg" width="300" height="300" class="resp-img"/>
                </a>
            </div>
            <div class="col-sm-4 col-xs-6">
                <a data-imagelightbox="a" href="/assets/img/reference/ref5_l.jpg">
                    <img src="/assets/img/reference/ref5.jpg" width="300" height="300" class="resp-img"/>
                </a>
            </div>
            <div class="col-sm-4 col-xs-6">
                <a data-imagelightbox="a" href="/assets/img/reference/ref6_l.jpg">
                    <img src="/assets/img/reference/ref6.jpg" width="300" height="300" class="resp-img"/>
                </a>
            </div>
            <div class="col-sm-4 col-xs-6">
                <a data-imagelightbox="a" href="/assets/img/reference/ref7_l.jpg">
                    <img src="/assets/img/reference/ref7.jpg" width="300" height="300" class="resp-img"/>
                </a>
            </div>
            <div class="col-sm-4 col-xs-6">
                <a data-imagelightbox="a" href="/assets/img/reference/ref8_l.jpg">
                    <img src="/assets/img/reference/ref8.jpg" width="300" height="300" class="resp-img"/>
                </a>
            </div>
            <div class="col-sm-4 col-xs-6">
                <a data-imagelightbox="a" href="/assets/img/reference/ref9_l.jpg">
                    <img src="/assets/img/reference/ref9.jpg" width="300" height="300" class="resp-img"/>
                </a>
            </div>

        </div>
    </div>

</section>

<section class="p-v-l bg-green">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="color-white">
                    Alle Leistungen werden individuell auf die Bedürfnisse und Wünsche unserer Kunden abgestimmt
                    und objektspezifisch angepasst.
                </h3>
            </div>
        </div>
    </div>
</section>


<section id="kontakt">

    <div class="position-relative">
        <div class="container text-center p-v-m">
            <div class="row">
                <div class="col-12-md">
                    <div class="box-title"></div>
                    <h2>Kontakt</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container p-v-m">
        <div class="row">
            <div class="col-md-6">
                <div class="padding-m text-center">
                    <img src="/assets/img/patrick.jpg" width="300" height="300" class="max-300" alt="Mst. Patrick Hamedl, BSc">
                    <h3>Mst. Patrick Hamedl, BSc</h3>
                    Gewerberechtlicher Geschäftsführer<br>
                    <a href="mailto:hamedl@cleanwell.at">hamedl@cleanwell.at</a><br>
                    <a href="tel:+43676/9222322">+43 676 / 922 23 22</a>
                </div>

            </div>
            <div class="col-md-6">
                <div class="padding-m text-center">
                    <img src="/assets/img/konstantin.jpg" width="300" height="300" class="max-300" alt="Konstantin Langhans, MSc">
                    <h3>Konstantin Langhans, MSc</h3>
                    Handelsrechtlicher Geschäftsführer<br>
                    <a href="mailto:langhans@cleanwell.at">langhans@cleanwell.at</a> <br>
                    <a href="tel:+43676/3662339">+43 676 / 366 23 39</a>
                </div>
            </div>
        </div>
    </div>

</section>


<section class="p-v-l bg-green">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center color-white">
                <h2 class="color-white">
                    CleanWell, Innovative Reinigung für ein glänzendes Image.
                </h2>
                <h4 class="color-white"><b>Gerne erstellen wir für Sie ein unverbindliches Angebot!</b></h4>
                <h3 class="color-white">CleanWell GmbH</h3>
                <address>
                    Milchgrubweg 2<br/>
                    A-7062 St. Margarethen im Burgenland<br/>
                    Österreich
                </address>
                E-Mail: <a href="mailto:office@cleanwell.at" class="color-white">office@cleanwell.at</a>
            </div>
        </div>
    </div>
</section>
