<footer class="p-v-l">
    <div class="container">
        <div class="row ">
            <div class="fs-desktop-table full-width">
                <div class="fs-desktop-table-cell width-50 align-middle footer-info m-b-s-mobile">
                    <span>&copy; CleanWell GmbH</span>
					<span class="pipe">|</span>
					<span class="show-tablet"></span>
					<a href="mailto:office@cleanwell.at">office@cleanwell.at</a>
					<span class="pipe">|</span>
					<span class="show-tablet"></span>
					<a href="/impressum">Impressum</a>

                    <br>

                    <a target="_blank" href="/assets/data/AGB_CleanWell.pdf">AGB Allgemein</a>
                    <span class="pipe">|</span>
                    <span class="show-tablet"></span>
                    <a target="_blank" href="/assets/data/AGB_Subunternehmer.pdf">AGB Subunternehmer</a>

                </div>
                <div class="fs-desktop-table-cell width-50 align-middle footer-info text-center m-b-s-mobile">
					<img title="gebaeudereinigung hausbetreuer" class="m-b-s-mobile" src="/assets/img/gebaeuderein_hausbetreuer.png"/> &nbsp;&nbsp;&nbsp;
					<img title="meisterbetrieb" src="/assets/img/meister-footer.png"/>
                </div>
            </div>
        </div>
    </div>
</footer>
