<div id="header" class="fixed">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="/" class="pull-left logo">
                    <img src="/assets/img/logo-big.png" title="cleanwell Logo"/>
                </a>
                {{#is showMenu true}}
                <nav id="navigation">
                    <ul class="nav navigation pull-right">
                        <li>
                            <a data-scroll-target="home" href="#home">Home</a>
                        </li>
                        <li>
                            <a data-scroll-target="leistungen" href="#leistungen">Leistungen</a>
                        </li>
                        <li>
                            <a data-scroll-target="referenzen" href="#referenzen">Referenzen</a>
                        </li>
                        <li>
                            <a data-scroll-target="kontakt" href="#kontakt">Kontakt</a>
                        </li>
                    </ul>
                    <button type="button" id="toggleNavigation" class="pull-right btn btn-primary">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </nav>
                {{/is}}
            </div>
        </div>
    </div>
</div>