@cleanwell-green: #029a45;
@cleanwell-blue: #155f9c;


@link-color: @cleanwell-blue;
@link-color-footer: #fff;

@primary-button-bg: @cleanwell-blue;
@primary-button-color: #fff;
@primary-button-border: darken(@cleanwell-blue,10%);

@header-bg: rgba(255,255,255,.8);
@header-text-color: #000;
@header-transparent-text-color: #fff;
@header-fixed-shadow: 0px 0px 5px rgba(0,0,0,.4);

@footer-bg: #282828;
@call-to-action-dark: #333;
@scroll-top-bg: #333;

/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('fonts/source-sans-pro-v21-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('fonts/source-sans-pro-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


html {
  -ms-overflow-style: scrollbar;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #777;
  font-weight: 300;
  overflow-y: scroll;
}

html, body{
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: none;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
}

h2, h3{
  color: #000;
}

h3{
  margin-bottom: 10px;
  color: #000;
  font-weight: 500;
}
h4{
  font-weight: 300;
  margin-bottom: 30px;
}

small{
  color: #ccc;
}

.uppercase{
  text-transform: uppercase;
}

.break-word{
  word-break: break-all;
  word-wrap: break-word;
}

.hide-tablet{
  display: none;
}

.show-tablet{
  display: block;
}


header > img{
  width: 100%;
  height: auto;
  margin-top: 60px;
}


.btn-primary {
  color: #fff;
  background-color: @link-color;
  border-color: @link-color;
  border-radius: 10px;
  padding: 15px 40px;
  font-size: 18px;
  display: inline-block;
  &:hover{
    background-color: darken(@link-color, 10%);
    text-decoration: none;
  }
}

.loading{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255,255,255,.7);
  display: none;
}

.padding-m{
  padding: 20px;
}


/* COLORS */
.bg-grey{
  background: #f1f1f1;
}
.bg-green{
  background: @cleanwell-green;
}
.color-white{
  color: #fff;
}
/* END - COLORS */


/* AGB */

.agb{
  ul, ol{
    margin-bottom: 10px;
    & > li > ul, & > li > ol{
      padding-left: 10px;
    }
  }
  li{
    margin: 10px 0;
  }
  ol{
    & > li > ol{
      list-style-type: lower-alpha;
    }
  }

  ol{
    & >li > ol.roman{
      list-style-type: upper-roman;
      & > li > ol{
        list-style-type: lower-alpha;
      }
    }
  }

}



/* END - AGB */

/* NAVIGATION */
#header{
  position: relative;
  background: @header-bg;
  -webkit-transition: background .4s ease-in-out,padding .4s ease-in-out;
  -moz-transition: background .4s ease-in-out, padding .4s ease-in-out;
  transition: background .4s ease-in-out,padding .4s ease-in-out;
  color: #fff;
  &.fixed{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
    -webkit-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    &.is-fixed{
      box-shadow: 0 0 2px rgba(0,0,0,.6);
      background: #fff;
    }
  }
  .logo{
    position: relative;
    margin: 5px 0;
    img{
      margin-right: 10px;
      width: 100%;
      max-width: 160px;
    }
  }

  .navigation{
    transition: all .5s;
    transform: translateX(800px);
    &.active{
      transform: translateX(0px);
    }
    position: absolute;
    top: 54px;
    right: 0;
    left: auto;
    width: 100%;
    background: #fff;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.2);
    li{
      text-align: center;
      display: block;
      & > a{
        padding: 10px;
        display: block;
        color: @cleanwell-blue;
        font-weight: bold;
      }
    }

  }

  #toggleNavigation{
    padding: 9px;
    border-radius: 4px;
    background: @link-color;
    margin-top: 14px;
    border-color: @link-color;
    &:focus{
      outline: none;
    }
    .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      background: #fff;
      & + .icon-bar{
        margin-top: 4px;
      }
    }
  }
}


section{
  position: relative;
}



.box-title{
  background: center center no-repeat fixed;
  background-size: cover;
  position: absolute;
  background-color: @cleanwell-green ;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  & + h2{
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    z-index: 1;
    position: relative;
  }
  &:after{
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.65));
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
}
#leistungen .box-title{
  background-image: url(../img/handshake-big.jpg);
}
#kontakt .box-title{
  background-image: url(../img/computer.jpg);
}
#referenzen .box-title{
  background-image: url(../img/reference.jpg);
}



/* LEISTUNGEN */
.services-box{
  background: #fff;
  .img-bg {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #fff;
	min-height: 180px;
    &.gebaeude{
      background-image: url(../img/fenster.jpg);
    }
    &.haus{
      background-image: url(../img/architecture.jpg);
    }
    &.gruen{
      background-image: url(../img/garten.jpg);
    }
    &.winter{
      background-image: url(../img/winter.jpg);
    }
    &.kaugummi{
      background-image: url(../img/kaugummi.jpg);
    }
    &.photovoltaic{
      background-image: url(../img/photovoltaic.jpg);
    }

    &.desinfektion{
      background-image: url(../img/desinfektion.jpg);
    }

  }
  ul{
    padding-left: 20px;
    list-style-type: none;
    li{
      margin-bottom: 5px;
      &:last-child{
        margin-bottom: 0;
      }
      &:before{
        content: " • ";
        color: @cleanwell-green;
        font-size: 26px;
        position: relative;
        top: 2px;
      }
    }
  }

  &.fs-desktop-table{
    min-height: 350px;
  }

  h3, h4{
    position: relative;
    &:after{
      content: '';
      width: 40px;
      height: 2px;
      background: #029a45;
      margin-bottom: 20px;
      display: block;
      text-align: center;
      margin: 20px auto;
      border-radius: 15px;
    }
  }

}
/* END - LEISTUNGEN */



@media (min-width: 768px) {

  .shadow-box{
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
  }

  #header{
    padding-left: 10px;
    padding-right: 10px;
    .navigation{
      position: static;
      width: auto;
      max-width: none;
      background: none;
      box-shadow: none;
      li{
        display: inline-block;
      }
      li > a{
        transition: background .4s;
        text-decoration: none;
        padding: 20px 10px;
        position: relative;
        display: inline-block;
        &:after{
          content: '';
          height: 2px;
          width: 0;
          position: absolute;
          bottom: 0;
          left: 0;
          background: @link-color;
          transition: width .4s;
        }
      }
      li.active > a, li:hover > a{
        text-decoration: none;
        background: none;
        &:after{
          width: 100%;
        }

      }
    }
  }

  .navigation{
    transform: translateX(0px) !important;
    li{
      display: inline-block;
      margin-left: 10px;
      & > a{
        display: inline-block;
        padding: 18px 10px;
      }
    }
  }

  #toggleNavigation{
    display: none;
  }


}


.intro-slider{
  color: #fff;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 1);
  height: 60%;
  position: relative;
  .container{
    position: relative;
    z-index: 1;
  }
  .item{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/Heli.jpg);
  }

  .btn{
    text-shadow: none;
  }

  h2{
    min-height: 33px;
    color: #fff;
  }
  p{
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
    font-weight: 500;
  }

  &:after{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0));
    content: " ";
    width: 100%;
    height: 60%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

}

#scrollTop{
  display: none;
  z-index: 299;
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: @scroll-top-bg;
  background-color: rgba(0,0,0,0.3);
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  border-radius: 2px;
  transition: background-color .2s linear;
  -webkit-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  &:hover{
    background: @primary-button-bg;
  }
}

footer{
  background: @footer-bg;
  color: rgba(255,255,255,0.25);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  line-height: 25px;
  position: relative;
  z-index: 1;
  a{
    font-weight: 500;
    color: @link-color-footer;
    &:hover{
      text-decoration: underline;
      color: @link-color-footer;
    }
  }
  .footer-info{
    margin-top: 10px;
	.pipe{
		display: inline-block;
	}
  }
}







a{
  color:  @link-color;
}
a:hover, a:focus, a:active {
  color:  @link-color;
  outline: 0;
}




.position-relative{
  position: relative;
}
.position-absolute{
  position: absolute;
}
.no-float{
  float: none;
}
.resp-img{
  width: 100%;
  height: auto;
}
.full-width{
  width: 100%;
}
.full-height{
  height: 100%;
}
.align-top{
  vertical-align: top;
}
.align-middle{
  vertical-align: middle;
}

.text-center{
  text-align: center;
}

.fs-table{
  display: table;
  &.table-layout-fixed{
    table-layout: fixed;
  }
}
.fs-table-cell{
  display: table-cell;
}

.m-v-l{
  margin-top: 80px;
  margin-bottom: 80px;
}
.m-v-m{
  margin-top: 50px;
  margin-bottom: 50px;
}
.m-v-s{
  margin-top: 20px;
  margin-bottom: 20px;
}
.p-h-s{
	padding-left: 20px;
	padding-right: 20px;
}
.p-v-l{
  padding-top: 80px;
  padding-bottom: 80px;
}
.p-v-xl{
  padding-top: 120px;
  padding-bottom: 120px;
}
.p-v-m{
  padding-top: 50px;
  padding-bottom: 50px;
}
.p-v-s{
  padding-top: 20px;
  padding-bottom: 20px;
}

.p-t-s{
  padding-top: 20px;
}
.p-t-m{
  padding-top: 50px;
}
.p-t-l{
  padding-top: 80px;
}

.p-b-l{
  padding-bottom: 80px;
}
.p-b-m{
  padding-bottom: 50px;
}
.p-b-s{
  padding-bottom: 20px;
}
.m-b-l, .m-b-l-mobile{
  margin-bottom: 80px;
}
.m-b-m{
  margin-bottom: 50px;
}
.m-b-s, .m-b-s-mobile{
  margin-bottom: 20px;
}

.m-b-m-mobile{
  margin-bottom: 30px;
}

.m-t-s{
  margin-top: 15px;
}


a[data-imagelightbox] img{
  margin-bottom: 30px;
  box-shadow: 1px 1px 4px rgba(0,0,0,.1);
}




@media (max-width: 768px) {
  .p-t-mobile-s{
    padding-top: 40px;
  }

  .justify{
    text-align: justify;
  }
}



@media (min-width: 768px) {

  .set-right{
    float: right;
  }
  .set-left{
    float: left;
  }
  .m-b-l-mobile, .m-b-s-mobile, .m-b-m-mobile{
    margin-bottom: 0;
  }

  .navbar-collapse.collapse{
    padding: 0;
  }

  .hide-tablet{
    display: block;
  }


  .show-tablet{
    display: none !important;
  }

  .tablet-no-padding{
    padding: 0;
  }
  .table-no-margin{
    margin: 0;
  }

  .fs-desktop-table{
    display: table;
    &.table-layout-fixed{
      table-layout: fixed;
    }
  }
  .fs-desktop-table-cell{
    display: table-cell;
    &.width-50{
      width: 50%;
    }
  }

}

@media (max-width: 440px){
  .intro-slider {
    h1{
      font-size: 27px;
      line-height: 28px;
    }
    h2{
      font-size: 24px;
      line-height: 28px;
      min-height: 60px;
	  padding: 0 10px;
    }
  }

  .p-t-mobile-m{
    padding-top: 50px;
  }

  .p-t-mobile-s{
    padding-top: 15px;
  }

  body {
    h2, .h2 {
      font-size: 24px;
      line-height: 28px;
    }
  }


  .break-word-mobile{
    word-wrap: break-word;
  }

  .intro-slider{
    background: url("../img/Heli.jpg") center right no-repeat;
    background-size: cover;
	 &.height-60{
		 height: auto;
		 padding-top: 60px;
	 }
	 .item{
		//background-size: contain;
		//background-position: center bottom;
	    //background-image: url("../img/header.png");
		& > .p-v-l{
			padding-top: 50px;
			padding-bottom: 50px;
		}
	 }
  }

  footer .footer-info .pipe{
	display: none;
  }

  .contact-form .btn-primary{
	width: 100%;
  }

}



img.max-300{
  width: 100%;
  max-width: 300px;
  height: auto;
}

