<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}">
    <!--<meta name="google-site-verification" content="I1sgvuIPcVCr-4_v5XA5XPlyx-0NXKfDicTh4B7szW4" />-->
	<meta name="google-site-verification" content="1mFn4M1fvOLA1Duz09mELJhTDSZO4e_PW3ihpoV1S9s" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="-1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/assets/css/style.min.css">

  </head>
  <body data-spy="scroll" data-target="#navigation" data-offset="60">
    {{> body }}
    {{> navigation}}
    {{> footer}}
    {{> scrollTop}}
    <script src="/assets/js/script.min.js"></script>

    <script>
        $(function(){
            $("a[data-imagelightbox]").imageLightbox({
                overlay: true,
                lockBody: true,
                //arrows: true,
                //button: true,
                activity: true,
                fullscreen: true
            });
        });
    </script>

  </body>
</html>
